<div style="padding: 0 40px">
    <div class="ui link four doubling cards">
        {% for product in products %}
            {% include '@SyliusShop/Product/_box.html.twig' %}
        {% endfor %}
    </div>
</div>

