<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">{{ 'sylius.ui.about'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.faqs'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; {{ 'sylius.ui.your_store'|trans }}</h4>
                <p>{{ 'sylius.ui.powered_by'|trans }} <a href="http://innovarius.ma" target="_blank" style="color: #1abb9c;"><span class="white-brand">in</span><span class="green-brand">nova</span><span class="white-brand">rius.</span></a></p>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
