<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}AZZA | Maroc{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}

        <link rel="stylesheet" href="{{ asset('assets/shop/css/custom.css') }}">
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}

    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu" style="margin: 0;">

            <div class="column" style="margin: 10px;">
                <a href="{{ path('sylius_shop_homepage') }}">
                    <img src="{{ asset('assets/shop/img/azza-logo-negative.png') }}"
                         alt="Azza logo" class="ui small image" />
                </a>
            </div>

            {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}

            {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

            {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>

    {% endblock %}

{% block header %}
    <header>
        {#{% include '@SyliusShop/_header.html.twig' %}#}

        {{ sonata_block_render_event('sylius.shop.layout.after_header') }}

        {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    </header>
{% endblock %}

    <div class="ui container-fluid" style="padding: 20px;">


        {% include '@SyliusShop/_flashes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}


{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}

<a href="https://api.whatsapp.com/send?phone=212660598812"
   class="whatsapp-btn shadow-5" target="_blank">
    <i class="fa fa-whatsapp" style="margin-top:11px;"></i>
</a>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="425474548297456"
     theme_color="#FE7058"
     logged_in_greeting="salam"
     logged_out_greeting="salam">
</div>

</body>
</html>
