<div class="ui four column centered grid">
    <div class="column"><button type="submit" class="ui primary  icon labeled button payement-complet"><i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}</button>
    </div>
</div>


