{# {% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('show')), options.link.parameters|default({'id': data.id}))) %}

{% if data.paymentState in ['awaiting_payment'] %}
    {{ buttons.default(path, action.label, null, action.options.icon|default('credit card alternative'), 'blue') }}
{% endif %}

#}

