@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
#menu{
    padding-left: 30px;
}
#sylius-cart-button{
    margin: 0;
    box-shadow: none;
    color: #fff;
    background: none;
}
.ui.menu {
    border-radius: 0;
    min-height: 3.857143em;
    box-shadow: 3px 3px 4px -1px grey;

}
.ui.menu .dropdown.item .menu, .ui.card, .ui.segment, input, .ui.card>.image>img {
    border-radius: 0;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #FE7058;
    color: rgba(255,255,255,.9);
}
.ui.inverted.menu {
    background: #FE7058;
}
.ui.circular.button {
    border-radius: unset;
    padding-top: 33px;
    color: black;
}

.ui.menu .ui.list>.item {
    color: black;
}

.ui.primary.button{
    background-image: linear-gradient(to right,#FF9B06,#FF6121,#FF0F49);
    box-shadow: 3px 3px 5px 0px gray;
}



.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.ui.teal.label {
    background-color: #009492!important;
    border-color: #009492!important;
}

.ui.button {
border-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.ui.button:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.ui.blue.button {
    background-color: #0078CD;
}
.ui.info.message {
    background-color: #008FB0;
    color: #ffffff;
    border-radius: 0;
}
.whatsapp-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    left: 5px;
    background-image: linear-gradient(to right,#FF9B06,#FF6121,#FF0F49);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #a93f2d;
    z-index: 100;
}
.whatsapp-btn:hover {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.step {
    height: 167px;
    box-shadow: 4px 4px 5px -1px gray !important;
}
.ui.small.steps .step {
    font-size: 20px;
}

.icon.payment,.ui.steps .step .title,.icon.truck,i.info.icon{
    color:#7463c0 !important;
    font-size: 29px !important;
}
.title-burble{
    color:#7463c0 !important;
    font-size: 72px;
    background-image: linear-gradient(to right,#06a3ff,#FF0F49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

.icon.info.circle{
    color: white !important;
}
ul.port {
    padding-left: 15px;
}
#categories-section h4{
    position: relative;
    top: 7px;
}
.title-voir{
    color:white;
    font-weight: bolder;
}
.title-voir:hover{
    color:white !important ;

}
.ui.dropdown>.text{
    font-family: 'Roboto', sans-serif;
}
a.item {
    font-family: 'Roboto', sans-serif;
}
i.icon.map:before,i.checkered.flag.icon
{
    color:#7463c0;
}
.title{
    font-family: 'Montserrat', sans-serif !important;
    background-image: linear-gradient(to right,#06a3ff,#FF0F49);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 174px !important;
    padding-top: 29px;
    padding-bottom: 13px;
}
span#product-price{
    font-family: 'Montserrat', sans-serif !important;
}
h1{
    font-family: 'Montserrat', sans-serif !important;
}
h2.ui.horizontal.section.divider.header{
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 52px;
}
a.header.sylius-product-name{
    font-family: 'Montserrat', sans-serif !important;
}
h4.ui.inverted.header{
    font-family: 'Montserrat', sans-serif !important;
}
.description,.sylius-product-price{
    font-family: 'Roboto', sans-serif;
    color: black !important;

}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
    bottom: 18px;
;
}
p.title{
    font-size: 60px !important;
}
span.caption {
    font-size: 14px !important;
}
label.required{
    font-family: 'Montserrat', sans-serif !important;
}
p{
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif !important;

}
a.ui.large.icon.labeled.button{
    font-family: 'Montserrat', sans-serif !important;
    background-image: linear-gradient(to right,#59c1e8,#c960ff);
    color: white;
    box-shadow: 3px 3px 5px 0px gray;

}
.sylius-product-name,td{
    font-family: 'Roboto', sans-serif;
}
h4.ui.horizontal.section.divider.header{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px;

}
a.ui.huge.primary.fluid.labeled.icon.button{
    font-family: 'Montserrat', sans-serif !important;
}

span.sub.header{
    font-family: 'Roboto', sans-serif;
}
.green-brand{
  color:#72B045;
    font-weight: bolder;
    font-size: 16px;
}
.white-brand{
color:white;
    font-weight: bolder;
    font-size: 16px;

}
button.ui.circular.icon.button.sylius-cart-remove-button{
    padding-top: 11px;
}
div#sylius-payment-method{
    font-family: 'Montserrat', sans-serif;
}
div#sylius-shipping-method{
    font-family: 'Montserrat', sans-serif;
}
a#sylius-show-order{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right,#FF9B06,#FF6121,#FF0F49);
    box-shadow: 3px 3px 5px 0px gray;
}


a.ui.large.green.button{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right,#733be0,#35a6e8);
    box-shadow: 3px 3px 5px 0px gray;

}
a.ui.right.floated.button{
    font-family: 'Montserrat', sans-serif;
}
a.ui.big.green.labeled.icon.fluid.button{
    font-family: 'Montserrat', sans-serif;
}
.ui.bottom.attached.tab.segment.active {
    box-shadow: 6px 5px 3px -3px grey;
}
div#sylius-product-selecting-variant {
    box-shadow: 6px 5px 3px -3px grey;
}
.ui.fluid.card {
    box-shadow: 6px 5px 3px -3px grey;
}

.ui.segment{
    box-shadow: 6px 5px 3px -3px grey;
}
button#sylius-save{
    background-image: linear-gradient(to right,#59c1e8,#c960ff);
    box-shadow: 3px 3px 5px 0px gray;
    width: 181px;

    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button#sylius-cart-update{
background-image: linear-gradient(to right,#f3f0ee,#b3b3b3);
    box-shadow: 3px 3px 5px 0px gray;
}
button.ui.circular.icon.button.sylius-cart-remove-button{
    box-shadow: 3px 3px 5px 0px gray;
}

button.ui.blue.submit.button{

    background-image: linear-gradient(to right,#FF9B06,#FF6121,#FF0F49);
    box-shadow: 3px 3px 5px 0px gray;
}
a.ui.big.green.labeled.icon.fluid.button{
    background-image: linear-gradient(to right,#59c1e8,#c960ff);
    box-shadow: 3px 3px 5px 0px gray;
}
a.ui.right.floated.button{
    background-image: linear-gradient(to right,#f3f0ee,#b3b3b3);
    box-shadow: 3px 3px 5px 0px gray;

}
a.ui.primary.fluid.labeled.icon.button {
    font-size: larger;
}
input#sylius_cart_promotionCoupon{
    border-right-color: #d4d4d5!important;
}
.payement-complet{
    width: 423px;
}
section.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal {
    height: 449px;
}
