{% extends '@SyliusShop/layout.html.twig' %}
{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/plugins/slider-transitions/css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        body{
            font-family: 'Montserrat', sans-serif;
        }
        #categories-section h4 {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            text-transform: uppercase;
        }
        #categories-section p {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        ul.port{
            padding-left: 28px;
        }

        #categories-section ul.port {
            list-style: none;
            text-align: center;

        }
        #categories-section ul.port li {
            display: inline-block;
            margin-right: 20px;
            overflow: hidden;
            width: 270px;
            height: 270px;
            position: relative;
            margin-top: 20px;
        }
        #categories-section ul.port li img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:auto;
            transform: scale(1,1);
            transition: all 0.5s ease;
        }
        #categories-section ul.port li:hover img {
            /*top: -40px;*/
            transform: scale(1.1,1.1);
        }
        #categories-section ul.port li div.desc {
            position: absolute;
            bottom: 0;
            left: 0;

            box-shadow: 0 0 9px rgba(0,0,0,0.8);
            min-width: 100%;
            color: #fff;
            transform: scale(1,1);
            transition: all 0.5s ease;
            background-image: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#e52e71));
            background-image: linear-gradient(to right,#ff8a00,#e52e71);

        }
        #categories-section ul.port li:hover div.desc {transform: scale(0.9,0.9);}
        #categories-section ul.port li div.desc p {color: #dea7d9;}
        #categories-section ul.port li div.desc p a {
            display: block;
            text-decoration: none;
            text-align: center;

            margin: 5px;
            background: rgba(0,0,0,0.5);
            color: #fff;
            transition: all 0.5s ease;
        }
        #categories-section ul.port li div.desc p a:hover {
            background: rgba(255, 255, 255, 0.2);
            color: #111111;
            transition: all 0.1s ease;
        }
        #categories-section ul.port li div.desc p a:active {
            background: rgba(0,0,0,0.8);
            color: #fff;
        }
        .fnc-slide__heading-line{
            font-size: 100px;
        }
        .text-shadow{

            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif !important;
            background: -webkit-linear-gradient(#fffefe, #FE7058);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }
        .demo-cont{
            height: 500px;

        }
        .fnc-slide__heading-line {
            position: absolute;
            left: 50px;
            bottom: 30px;
        }
        @media only screen and (max-device-width: 480px){
            .ui.fluid.card
            {
                width: 100% !important;
            }
        }

        .card {
            box-shadow: 3px 3px 7px -2px grey !important;
        }
        .card:hover {
            box-shadow: 5px 5px 7px -2px grey !important;
        }
        .ui.cards {
            display: inline-flex;
            margin-left: 10px
        }
        .header-card {

            font-size: 72px;
            background-image: linear-gradient(to right,#FF9B06,#FF0F49);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .link-style{
            color: orangered !important;
        }
        .desc-card{
            height: 61px;
        }
        .img-card{
            height: 313px !important;
        }
        .ui.four.cards {
            margin-left: 6.25em;
            margin-right: -.75em;
        }
        .ui.container-fluid{
            text-align: center;
        }
        h2.ui.horizontal.section.divider.header {
            margin-bottom: 100px;
        }
/*

        #slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
    font-family: 'Montserrat', sans-serif;
  width: 100%;
    height: 55vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url({{ asset('media/image/home_slide/electromenager.jpg') }});
}
.slide2 {
  background-image: url({{ asset('media/image/home_slide/High-tech.jpg') }});
}
.slide3 {
  background-image: url({{ asset('media/image/home_slide/Beauté.jpg') }});
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {


    font-size: 103px;
    font-weight: bolder;

    width: 599px;
    line-height: 99%;

    font-size: 72px;
    background-image: linear-gradient(to right,#FF9B06,#FF0F49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #FF900B transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #FF1945;
  right: 0;
  margin-right: 30px;
} */
        .carousel {
            margin-left: 0px;
            margin-right: 0px;
        }

        ul.slides {
            display: block;
            position: relative;
            height: 600px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style: none;
        }

        .slides * {
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }

        ul.slides input {
            display: none;
        }


        .slide-container {
            display: block;
        }

        .slide-image {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 0;
            transition: all .7s ease-in-out;
        }

        .slide-image img {
            width: auto;
            min-width: 100%;
            height: 100%;
        }

        .carousel-controls {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            font-size: 100px;
            line-height: 600px;
            color: #fff;
        }

        .carousel-controls label {
            display: none;
            position: absolute;
            padding: 0 20px;
            opacity: 0;
            transition: opacity .2s;
            cursor: pointer;
        }

        .slide-image:hover + .carousel-controls label{
            opacity: 0.5;
        }

        .carousel-controls label:hover {
            opacity: 1;
        }

        .carousel-controls .prev-slide {
            width: 49%;
            text-align: left;
            left: 0;
        }

        .carousel-controls .next-slide {
            width: 49%;
            text-align: right;
            right: 0;
        }

        .carousel-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            z-index: 999;
            text-align: center;
        }

        .carousel-dots .carousel-dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            opacity: 0.5;
            margin: 10px;
        }

        input:checked + .slide-container .slide-image {
            opacity: 1;
            transform: scale(1);
            transition: opacity 1s ease-in-out;
        }

        input:checked + .slide-container .carousel-controls label {
            display: block;
        }

        input#img-1:checked ~ .carousel-dots label#img-dot-1,
        input#img-2:checked ~ .carousel-dots label#img-dot-2,
        input#img-3:checked ~ .carousel-dots label#img-dot-3,
        input#img-4:checked ~ .carousel-dots label#img-dot-4,
        input#img-5:checked ~ .carousel-dots label#img-dot-5,
        input#img-6:checked ~ .carousel-dots label#img-dot-6 {
            opacity: 1;
        }


        input:checked + .slide-container .nav label { display: block; }


/* ------------------------------------------------*/
        [class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
            transition: all .3s ease;
        }

        *, *:before, *:after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 18vw;
            transition: opacity .6s ease;
        }
        .swiper-container.swiper-container-coverflow {
            padding: 1% 0;
        }
        .swiper-container.loading {
            opacity: 0;
            visibility: hidden;
        }
        .swiper-container:hover .swiper-button-prev,
        .swiper-container:hover .swiper-button-next {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }
        .swiper-slide .entity-img {
            display: none;
        }
        .swiper-slide .content {
            position: absolute;
            top: 40%;
            left: 0;
            width: 66%;
            padding-left: 5%;
            color: #fff;
        }
        .swiper-slide .content .title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .swiper-slide .content .caption {
            display: block;
            font-size: 12px;
            line-height: 1.4;
        }

        [class^="swiper-button-"] {
            width: 44px;
            opacity: 0;
            visibility: hidden;
        }

        .swiper-button-prev {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
        }

        .swiper-button-next {
            -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 9px;
            position: relative;
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: .4;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 18px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border: 0px solid #fff;
            border-radius: 50%;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
            opacity: 1;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
            border-width: 1px;
        }

        @media (max-width: 1180px) {
            .swiper-container {
                height: 28vw;
            }

            .swiper-slide .content .title {
                font-size: 25px;
            }
            .swiper-slide .content .caption {
                font-size: 12px;
            }
        }
        @media (max-width: 1023px) {
            .swiper-container {
                height: 40vw;
            }
            .swiper-container.swiper-container-coverflow {
                padding-top: 0;
            }
        }


    </style>
{% endblock %}
{% block content %}

    <!--
Please note, that you can apply .m--global-blending-active to .fnc-slider
to enable blend-mode for all background-images or apply .m--blend-bg-active
to some specific slides (.fnc-slide). It's disabled by default in this demo,
because it requires specific images, where more than 50% of bg is transparent or monotone
-->




    <section class="swiper-container loading">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E" class="entity-img" />
                <div class="content">
                    <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Bienvenue Sur Azza </p>
                    <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(/media/image/home_slide/High-tech.jpg)">
                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
                <div class="content">
                    <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">High-Tech</p>
                    <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(/media/image/home_slide/Beauté.jpg)">
                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
                <div class="content">
                    <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Beauté</p>
                    <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(/media/image/home_slide/High-tech.jpg)">
                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
                <div class="content">
                    <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">High-tech</p>
                    <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
                <div class="content">
                    <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Vivez l'exprience</p>
                    <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </section>




    <h2 class="ui horizontal section divider header">
        Processus achat online
    </h2>
    <div class="ui two column centered grid">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header "><i class="truck icon"></i></div>
                    <div class="header title-burble">

                        Livraison
                    </div>
                    <div class="description">
                        Choisissez vos options d'expédition
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content ">
                    <div class="header"> <i class="payment icon"></i></div>
                    <div class="header title-burble">  Facturation </div>
                    <div class="description">
                        Entrer les informations de facturation
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"><i class="info icon"></i></div>
                    <div class="header title-burble"> Confirmer la commande </div>
                    <div class="description">
                        Vérifier les détails de la commande
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h2 class="ui horizontal section divider header">
        Nos categories
    </h2>
    {% for category in categories %}
        {% if category.images.first %}
            {% set path = category.images.first.path|imagine_filter(filter|default('sylius_large')) %}
        {% else %}
            {% set path = '//placehold.it/200x200' %}
        {% endif %}
        {% set image = category.getImages|first %}
        <div class="ui link cards">



            <div class="card">
                <div class="image">
                    <img class="img-card" src="{{ path }}" alt="{{ category.name }}" />
                </div>
                <div class="content">
                    <div class="header header-card">{{ category.name }}</div>

                    <div class="description desc-card">
                        {{ category.description }}

                    </div>
                </div>
                <div class="extra content">
      <span class="right floated">
          <a  class="link-style" href="{{ url('sylius_shop_product_index', {slug : category.slug}) }}">
       Consulter  <i class="icon {{ action.options.icon|default('eye')  }}"  > </i> </a>
      </span>

                </div>

            </div>
        </div>
    {% endfor %}
    {#
<div id="categories-section" class="ui grid">
    <div >
        <ul class="port">


        {% for category in categories %}
            {% if category.images.first %}
                {% set path = category.images.first.path|imagine_filter(filter|default('sylius_large')) %}
            {% else %}
                {% set path = '//placehold.it/200x200' %}
            {% endif %}
            {% set image = category.getImages|first %}
            <li>
                <img src="{{ path }}" alt="{{ category.name }}" />
                <div class="desc">
                    <h4>{{ category.name }}</h4>
                    <p>
                        <a class="title-voir" href="{{ url('sylius_shop_product_index', {slug : category.slug}) }}">
                            <i class="icon {{ action.options.icon|default('eye')  }}"  > </i>
                        </a>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
#}
    {#<div class="message">
        Sorry, your browser does not support CSS Grid. 😅
    </div>
    <section class="section">
        <div class="grid">

            {% for category in categories %}
                {% if category.images.first %}
                    {% set path = category.images.first.path|imagine_filter(filter|default('sylius_large')) %}
                {% else %}
                    {% set path = '//placehold.it/200x200' %}
                {% endif %}
                {% set image = category.getImages|first %}

                    <div class="item {{ random(['item--large', 'item--medium']) }}" style="background-image: url('{{ path }}')">
                        <div class="item__details">
                           <a href="{{ url('sylius_shop_product_index', {slug : category.slug}) }}"> {{ category.name }}</a>
                        </div>
                    </div>

            {% endfor %}

        </div>
    </section>#}
    </div>




    <br>

    <h2 class="ui horizontal section divider header">
        {{ 'sylius.ui.latest_products'|trans }}
    </h2>
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 8, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/slider-transitions/js/index.js') }}"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>

        $('#categories-section ul.port li div.desc p').hide();
        $('#categories-section ul.port li').hover(function() {
            $(this).find('p').stop().slideDown(500);
        },function() {
            $(this).find('p').stop().slideUp(500);
        });
    </script>

    <script>
        $("#slider > div:gt(0)").hide();

        setInterval(function() {
            $('#slider > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slider');
        }, 3000);
    </script>
    <script>

        var sliderSelector = '.swiper-container',
            options = {
                init: false,
                loop: true,
                speed:800,
                slidesPerView: 2, // or 'auto'
                // spaceBetween: 10,
                centeredSlides : true,
                effect: 'coverflow', // 'cube', 'fade', 'coverflow',
                coverflowEffect: {
                    rotate: 50, // Slide rotate in degrees
                    stretch: 0, // Stretch space between slides (in px)
                    depth: 100, // Depth offset in px (slides translate in Z axis)
                    modifier: 1, // Effect multipler
                    slideShadows : true, // Enables slides shadows
                },
                grabCursor: true,
                parallax: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    1180: {
                        slidesPerView: 2
                    },
                    1023: {
                        slidesPerView: 1,
                        spaceBetween: 0
                    }
                },
                autoplay: {
                    delay: 3000,
                },
                // Events
                on: {
                    imagesReady: function(){
                        this.el.classList.remove('loading');
                    }
                }
            };
        var mySwiper = new Swiper(sliderSelector, options);

        // Initialize slider
        mySwiper.init();
    </script>
{% endblock %}
